@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lora:wght@700&family=Poppins:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap');
@import "tailwindcss";

/* You can also set a default body font here */
body {
  font-family: 'Inter', sans-serif; /* Example: Sets Inter as the default */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}